/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Commmon */

li {
  list-style-type: none;
}

.container-big {
  margin: 0 auto;
  max-width: 1200px;
}

/* Typo */
a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Courier New', Courier, monospace;

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff6900;
  z-index: 999;
}

header .container-big {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  gap: 20px;
}

header .container-big .header-links,
header .container-big .header-account {
  width: 20%;
}

header .container-big .header-logo {
  display: flex;
  justify-content: center;
  width: 70%;
}

header .header-logo img {
  width: 150px;
}

header .container-big>* {
  padding: 30px 0px;
}

header .container-big li>a {
  font-size: 20px;
}

.header-account .li-account {
  display: flex;
  justify-content: flex-end;
}

header .bar {
  padding: 0 25px;
}